
// GLOBAL STYLES
@import "global/reboot";

@font-face{
	font-family: "GothamPro";
	src: url("../fonts/GothamPro.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: auto;
	position: relative;
	background-color: #1E252D;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "GothamPro", sans-serif;
	color: #000;
	font-weight: 400;
	line-height: 1.2;
	font-size: 16px;
	min-width: 320px;
}

.promo {
	position: relative;
	z-index: 2;
	max-width: 1350px;
	width: 100%;
	margin: auto;
	background-image: url("../img/bg-img.png");
	background-position: -130px;
	padding-top: 43px;
	padding-bottom: 56px;
	display: flex;
    flex-direction: column;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 565px;
	width: 100%;
	margin: auto;
	margin-bottom: 43px;

	&__link {
		width: 105px;
		height: 60px;
		margin-right: 70px;
	}

	&__description {
		padding: 7px 13px 7px 30px;
		background: #FFFFFF;
		border: 1.6px solid #FFFFFF;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
		border-radius: 25px;
		font-size: 12px;
		line-height: 14px;
		color: #1E252C;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__cost {
		font-size: 25px;
		line-height: 24px;
		text-transform: uppercase;
		font-weight: 800;
	}
}

.product {
	background: #FFFFFF;
	box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.2);
	border-radius: 39px;
	padding-top: 57px;
	padding-bottom: 69px;
	padding-left: 72px;
	background-image: url("../img/main-block-bg-img.png");
	max-width: 1140px;
	width: 100%;
	margin: auto;
	background-size: cover;
	margin-bottom: 48px;
	position: relative;

	&__inner {
		display: flex;
		flex-direction: column;
		color: #1E252D;
		max-width: 560px;
		width: 100%;
	}

	&__heading {
		font-size: 70px;
		line-height: 84px;
		margin-bottom: 10px;
	}

	&__small_heading {
		font-size: 30px;
		line-height: 42px;
		margin-bottom: 24px;
	}

	&__paragraph {
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 15px;
	}

	&__list {
		background: rgba(196, 196, 196, 0.2);
		border-radius: 16px;
		padding: 22px 12px 0 12px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 35px;
		max-width: 530px;
		width: 100%;
		text-align: left;

		&_section {
			padding: 0;
			list-style: none;
		}
	}

	&__item {
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 17px;
		color: #000000;
		margin-bottom: 15px;
	}

	&::before {
		content: "";
		position: absolute;
		width: 524px;
		height: 628px;
		right: -50px;
    	top: 22px;
		background-image: url("../img/robot.png");
	}
}

.buttons__wrapper {
	display: flex;
	align-items: center;
}

.button {
	&_download {
		border: 3px solid #1E252D;
		border-radius: 31px;
		font-size: 20px;
		line-height: 19px;
		text-align: center;
		text-transform: uppercase;
		color: #1E252D;
		padding: 20px 56px 17px;
		text-decoration: none;
		font-weight: 800;
		transition: all 0.5s;
		
		&:hover {
			background-color: #FE6400;
		}
	}
	
	&_open {
		font-size: 16px;
		line-height: 15px;
		text-align: center;
		text-transform: uppercase;
		color: #1E252D;
		text-decoration: none;
		font-weight: 800;
		border: none;
		padding-left: 43px;
		transition: all 0.5s;
	
		&:hover {
			color: #FE6400;
		}
	}
}

.opportunities {
	display: flex;
	justify-content: space-between;
	max-width: 1110px;
	width: 100%;
	height: 105px;
	align-self: center;

	&__heading {
		font-size: 20px;
		line-height: 28px;
		color: #FFFFFF;
		max-width: 231px;
		width: 100%;
		font-weight: 900;
		display: flex;
    	align-items: center;
	}

	&__item {
		width: 262px;
		height: 105px;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
		border-radius: 12px;
		font-size: 14px;
		line-height: 20px;
		display: flex;
		align-items: center;
		position: relative;
		font-weight: 600;
		padding-left: 25px;
		transition: all 0.5s;

		&:hover {
			transform: scale(1.1);
		}

		&--first_item {
			background: #1E252D;
			color: #FFFFFF;

			&::before {
				content: "01";
				position: absolute;
				top: 0;
				right: 15px;
				font-style: normal;
				font-weight: bold;
				font-size: 73px;
				line-height: 103px;
				color: #111316;
			}

			p {
				max-width: 175px;
    			width: 100%;
			}
		}

		&--second_item {
			background: #FFFFFF;
			color: #1E252D;

			&::before {
				content: "02";
				position: absolute;
				top: 0;
				right: 15px;
				font-style: normal;
				font-weight: bold;
				font-size: 73px;
				line-height: 103px;
				color: rgba(17, 19, 22, 0.05);
			}

			p {
				max-width: 185px;
    			width: 100%;
			}
		}

		&--third_item {
			background: #FE6400;;
			color: #FFFFFF;

			&::before {
				content: "03";
				position: absolute;
				top: 0;
				right: 15px;
				font-style: normal;
				font-weight: bold;
				font-size: 73px;
				line-height: 103px;
				color: #EC5D00;
			}

			p {
				max-width: 200px;
				width: 100%;
			}
		}

		p {
			z-index: 3;
		}
	}
}

@media only screen and (max-width: 1260px) {
	.product {
		padding-top: 27px;
		padding-left: 42px;
		padding-bottom: 49px;
		
		&::before {
			width: 500px;
    		height: 600px;
    		right: 0px;
    		top: 0;
    		background-size: contain;
		}
	}
}

@media only screen and (max-width: 1110px) {
	.product {
		padding-bottom: 615px;
		padding-left: 0;
		background-repeat: no-repeat;
    	background-size: cover;

		&__inner {
			text-align: center;
    		align-items: center;
    		margin: auto;
		}

		&::before {
			right: auto;
			top: auto;
			background-size: contain;
			bottom: -1px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.promo {
		flex-direction: column;
    	background-repeat: no-repeat;
		background-size: cover;
		background-position: top;
		padding-left: 20px;
    	padding-right: 20px;
	}

	.opportunities {
		flex-wrap: wrap;
		height: auto;
		
		&__heading {
			max-width: 100%;
			margin-bottom: 30px;
			text-align: center;
			justify-content: center;
		}
	}
}

@media only screen and (max-width: 845px) {
	.opportunities {
		flex-direction: column;
		align-items: center;
		
		&__item:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	.product {
		padding-bottom: 515px;

		&::before {
			width: 400px;
			height: 500px;
			background-repeat: no-repeat;
			bottom: -20px;
		}

		&__inner {
			padding-left: 20px;
    		padding-right: 20px;
		}
	}
}

@media only screen and (max-width: 550px) {
	.header__link {
		margin-right: 20px;
	}

	.product {
		padding-top: 10px;
		padding-bottom: 395px;

		&::before {
			width: 300px;
    		height: 400px;
    		bottom: -40px;
		}

		&__heading {
			font-size: 50px;
    		line-height: 64px;
		}

		&__small_heading {
			font-size: 20px;
    		line-height: 32px;
		}

		&__paragraph {
			font-size: 15px;
    		line-height: 23px;
		}

		&__list {
			flex-direction: column;
    		align-items: center;
		}
	}
}

@media only screen and (max-width: 485px) {
	.promo {
		padding-top: 20px;
	}

	.button_open {
		padding-left: 20px;
	}

	.header {
		flex-direction: column;
	}

	.header__title {
		margin-right: 10px;
	}

	.header__link {
		margin-bottom: 15px;
	}

	.header__description {
		font-size: 10px;
		line-height: 12px;
	}

	.header__cost {
		font-size: 20px;
    	line-height: 20px;
	}

	.button_download {
		padding: 17px 37px 17px;
	}
}

@media only screen and (max-width: 410px) {
	.button_download {
		padding: 14px 30px 14px;
		font-size: 15px;
	}

	.button_open {
		font-size: 13px;
	}
}







